<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="staccount">
  <test name="Test">
    <classes>
      <class name="com.stockAccounting.master.exeng"/>
        <class name="com.stockAccounting.master.exescategory"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- staccount -->
